body {
    background: whitesmoke;
}

main {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.form {
    padding: 50px;
}

.note{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 229, 110);
    margin: 20px;
    padding: 20px;
    width: 200px;
    word-break: break-all;
}

.fas {
    color: brown;
}

.deleteBtn {
    align-self: flex-end;
}